body {
   background-color: #fff;
   font-size: 1em;
   font-family: arial, sans-serif;
   margin: 0;
}
/* c'est la section totale (header) qui doit etre mise a dte*/
/*si id (entete) est utilisé les block s'empilent depuis la droite*/

header {
   line-height: 2em;
   position: fixed;
   z-index: 9999;
   top: 1.5em;
   right: 4%;
   display: block;
   font-size: 0.9em;
}
#entete a {
   color: #333;
   text-decoration: none;
   margin: 1em 0 1em 2em;
}

/* Bouton connexion*/
.connect {
   background-color: #4683EA;
   padding: 0.5em;
   color: #fff;
   text-decoration: none;
   margin: 1em 0 1em 2em;
}
section {
   clear: both;
   min-height: 100%;
   top: 20%;
   color: inherit;
}
img {
   position: relative;
   width: 25em;
   height: auto;
   display: block;
   margin: auto;
   padding-top: 20%;
   overflow: hidden;
}
/*Champ query*/
#query {
   display: block;
   width: 25em;
   height: 2em;
   margin: 1.8em auto;
}
.bout {
  width: 30%;
  margin: auto;
}
/*
   text-decoration: none;
   border-style: none;
}*/
.bouton:hover {

   font-weight: bold;
   color: black;
   border: .2em;
}
footer {
   line-height: 1.6em;
   width: 100%;
   background-color: #e0dcdc;
   display: inline-block;
   position: fixed;
   bottom: 0;
   left: 0;
}
footer a {
   color: rgb(93, 89, 91);
   text-decoration: none;
   margin: 1em 0 1em 2em;
}
.gauche {
   float: left;
}
.droite {
   float: right;
}
